/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #5721f2;
    --color-on-surface: #000;
    --color-dark-gray: #292929;
    --color-apple-button: #191919;
    --color-gray: #444444;
    --color-light-gray:#BBBBBB;
    --color-white: #FFFFFF;
    --color-green: #65D36E;
    --color-blue: #445A90;
    --color-stroke: #2F3337;
    --color-error-color: #C42A36;
}