.loginPanel__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   

    &>label {
      color: #000000;
      font-size: 14px;
      line-height: 17px;
      min-width: 200px;
      max-width: 395px;
    }

    &>input {
      width: 20px;
      height: 20px;
      margin-right: 18px;
      outline: none;
      
    }

    &>input:hover {
      color: var(--color-green);
    }

    &>input:active {
      background-color: var(--color-green);
    }
    .activeLink{
      color: var(--color-green)
    }
    .activeLink:hover{
      filter: brightness(1.2);
    }
}